html{
	min-width:60%;
}
body{ 
	background-color:none;
	font-size:15px;
	color:#FF00FF;
	text-align:left;
	background-image:url('bgimage.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	margin:60px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
p.a{text-align:center;}
p.b{text-align:left;}

ul.square{
	list-style:none outside none;
}
h2{
	text-transform:uppercase;
}
#hd{
	border:1px solid #000;
	background-image: url('bgimage2.jpg');
	padding:50px;
	text-height:60px;
	background-repeat:no-repeat;
	background-size:cover;
}
a:link{font-family: Helvetica 'Times New Roman' Arial Sans Serif; font-size:20px; text-decoration:underline;color:black; }
a:hover{
	font-family: Helvetica, 'Times New Roman', Arial, Sans Serif;
	color:red;
	text-decoration:underline;
	font-size: 40px;

}
a:visited{
	font-family: Helvetica 'Times New Roman' Arial Sans Serif;
	color:yellow;
	font-size:20px;
}

/*#lnav{
	
	border:1px solid black;
	float:left;
	background-color:gray;
	opacity:0.8;
	width:25%; /*150px
	height:100%;
	padding:10px;
	margin:10px 0px /*10px 0px;
	position: relative;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}*/
#bd{
	background-color: none;
	/*border: 1px solid black;*/
	padding:10px;
	margin:10px/* 10px 10px 1*/0px;
	float:left;
    position:relative;
	height:100%;
	width:50%; /*842px*/
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 #ft{
	width:100%;
	border:1px solid black;
	margin:10px 10px 10px 0px;
	background-color:#555;
	padding: 10px 0px 0px 10px;
	float:left;
	height: 60px;
	opacity:0.8;

	}

#lnav{
	
	border:1px solid black;
	float:left;
	background-color:gray;
	opacity:0.8;
	width:25%; /*150px*/
	height:100%;
	padding:10px;
	margin:10px 0 /*10px 0px*/;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:inline;
}

	#rnav{
	border:1px solid black;
	float:right;
	background-color:gray;
	opacity:0.8;
	width:25%;
	height:100%;
	padding:10px;
	/*margin:10px 0px 10px 0px;*/
	margin:10px 0;
	position: relative;
	background-color:grey;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display:inline;

	}

ul.hList{
	color:black;
	position:relative;
	text-align:center;
}

.hlist li{
	display:inline;
	margin: 0px 10px 0px 10px;
	position: relative;
}
div.position{
	position:relative;
	top:-30px;
}
.hList1{
	font-size:20px;
	color: red;
	font-family: 'Times New Roman';
	text-indent: 0px;
	padding: ;
}


.container {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.container::-webkit-scrollbar { 
    display: none; 
}
.container{overflow: -moz-scrollbars-none;}

